# URL da API backend (Render)
NEXT_PUBLIC_API_URL=https://bytebank-api-w1hs.onrender.com

# URLs dos microfrontends SPA
NEXT_PUBLIC_DASHBOARD_SPA_URL=http://localhost:3001/spa.js
NEXT_PUBLIC_TRANSACTIONS_SPA_URL=http://localhost:3002/spa.js
