$bp-mobile-max: 719px;
$bp-tablet-min: 720px;
$bp-tablet-max: 1023px;
$bp-desktop-min: 1024px;
$bp-container-wide-min: 1920px;

@mixin mobile {
  @media (max-width: $bp-mobile-max) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop-min) {
    @content;
  }
}

$spacing-desktop: 36rem;
$spacing-tablet: 6rem;
$spacing-mobile: 2.4rem;
$container-max-width: 192rem;

@mixin container-padding {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $spacing-desktop;

  @media (min-width: $bp-tablet-min) and (max-width: ($bp-container-wide-min - 1px)) {
    padding: 0 $spacing-tablet;
  }

  @include mobile {
    padding: 0 $spacing-mobile;
  }
}