// Cores principais
$color-primary: #004D61;
$color-accent: #FF5031;
$color-error: #BF1313;

// Cores de destaque
$color-blue: #2567F9;
$color-purple: #8F3CFF;
$color-orange: #F1823D;
$color-pink: #FF3C82;
$color-green: #47A138;

// Cores neutras
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-50: #F8F8F8;
$color-gray-200: #DEE9EA;
$color-gray-400: #767676;
$color-gray-500: #8B8B8B;

// Gradientes
$gradient-primary: linear-gradient(180deg, $color-primary 0%, $color-white 100%);
