// Cores
$color-primary-base: #004D61;
$color-accent: #FF5031;
$color-gray-100: #F8F8F8;
$color-gray-200: #DEE9EA;
$color-gray-text-secondary: #8B8B8B;
$color-error: #BF1313;
$color-blue: #2567F9;
$color-purple: #8F3CFF;
$color-orange: #F1823D;
$color-pink: #FF3C82;
$color-green: #47A138;
$color-white: #FFFFFF;
$color-black: #000000;
$gradient-primary: linear-gradient(180deg, $color-primary-base 0%, $color-white 100%);

// Tipografia
$font-family-base: sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;