@import './variables';
@import './breakpoints';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
  background-color: $color-black;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-primary-base;
  background-color: $color-black;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overscroll-behavior-y: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}