@import '@/styles/colors';
@import '@/styles/functions';
@import '@/styles/typography';
@import '@/styles/breakpoints';

.button {
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  transition: all 0.2s;

  &:hover {
    opacity: 0.9;
  }

  @include tablet {
    padding: 1.5rem 2.8rem;
    font-size: $font-size-sm;
  }
}

.primary {
  background-color: $color-green;
  color: $color-white;
  border: 0.2rem solid $color-green;

  &:hover {
    background-color: darken($color-green, 8%);
    border: 0.2rem solid darken($color-green, 8%);
  }
}

.secondary {
  background-color: transparent;
  color: $color-green;
  border: 0.2rem solid $color-green;

  &:hover {
    background-color: $color-green;
    color: $color-white;
  }
}

.primaryMobile {
  background-color: $color-black;
  color: $color-white;
  border: 0.2rem solid $color-black;

  &:hover {
    background-color: lighten($color-black, 15%);
    border: 0.2rem solid lighten($color-black, 15%);
  }
}

.secondaryMobile {
  color: $color-black;
  border: 0.2rem solid $color-black;

  &:hover {
    background-color: $color-gray-50;
    color: $color-black;
  }
}