@import '@/styles/variables';
@import '@/styles/breakpoints';

.button {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    opacity: 0.9;
  }

  @include tablet {
    padding: 18px 20px;
    font-size: 15px;
  }
}

.primary {
  background-color: $color-green;
  color: $color-white;
  border: 2px solid $color-green;

  &:hover {
    background-color: darken($color-green, 8%);
    border: 2px solid darken($color-green, 8%);
  }
}

.secondary {
  background-color: transparent;
  color: $color-green;
  border: 2px solid $color-green;

  &:hover {
    background-color: $color-green;
    color: $color-white;
  }
}